/*menu 2 starts here*/
body{
	font-size:14px;
}
.menu_2_body{
	overflow: hidden;
	background-color: black;
}
.dashboard_menu{
	background-color: #000000;
	width: 210px;
	height:715px;
}
.menu_2_logo{
	margin-top: 30px;
	margin-left: 30px;
	width:100px;
}
.bi-arrow-left-circle{
	color: whitesmoke;
	margin-left: 20px;
	font-size: 20px;
}
.dashboard_logo{
	border-bottom: 1px solid #35383D;
	margin-right: 10px;
	margin-left: 10px;

}

.dashboard_menu_2_menu{
	margin-top: 20px;
	background-color:#1B1C20 ;
	margin-left: 10px;
	margin-right: 20px;
	padding-top: 10px;
	width: 170px;
	color: white;
	height: 45px;
}
.help_needed{
	margin-top: 1px;
	background-color:#1B1C20 ;
	margin-left: 10px;
	margin-right: 20px;
	padding-top: 10px;
	width: 170px;
	color: white;
	height: 45px;
}
.help_needed:hover{
background-color: whitesmoke;
    color: black;
    transition-delay: 1s ease;	
}

.dashboard_menu_2_menu:hover{
    background-color: whitesmoke;
    color: black;
    transition-delay: 1s ease;
}
.menulist_menu2{
	margin:15px;
	transition-delay: 0.5s ease;
    
}
.menulist_menu2_list_items{
background-color: black;
outline: none !important;
color: whitesmoke;
border: none;
}
.menulist_menu2_list_items:hover{
	border-right: 10px solid;
	cursor: pointer;
}
.bi-box-arrow-right{
	color: whitesmoke;
	margin-left: 20px;
	font-size: 20px;
}
.page_hover_effect_container{
	padding: 10px;
}
.active_hover_item_page_hover{
	background-color: #35383D;
	border-radius: 7px;
	padding:5px;
	margin-left: 5px;
	margin-right: 5px;
	color: white;
	font-size: 13px;
}
.hover_item_page_hover{
	padding:5px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 13px;
	/*border-right: 1px solid;*/
}
.hover_item_page_hover:hover{
	background-color: #35383D;
	border-radius: 7px;
}
.search_btn_menu2{
background-color: #35383D;
margin-top: 0px;	
}
.bi-search{
	top: -20px;
}
.search_btn_menu2:hover{
background-color: black;

}
.bi-plus-circle-fill{
	font-size:40px; 
	color: whitesmoke;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 25%;
}
.bi-plus-circle-fill:hover{
 color: grey;
}
.plus_symbol_rotate_menu2:hover{
 animation: mymove 2s;

}
@keyframes mymove {
  50% {transform: rotate(180deg);}
}